<div class="accommodationContent">						
					<div class="accommodationBody container">
						<div class="apartment">


							<div class="apartmentBody row">
								<div class="col-md-4">
									<div class="apartmentLeft">
										<h2>Apartment A2 - balcony and sea view</h2>
										<h4>
											<span><strong>65 m²</strong></span>
											<span><strong>4 persons</strong></span>
										</h4>
									
										<p>If You love sea and would like to enjoy in the beautiful view of the terrace, then You are in the right place. You can follow the boats as they sail their way to the islands not far from Split. By night You can enjoy the moonlight on the sea surface. Maybe then You could decide to go by the sea and relax Youself in the night swimming.</p>
										<table class="table">
											<thead><tr><th>Details</th></tr></thead>
											<tr><td>Central heating system, air-conditioner</td></tr>
											<tr><td>1 bedroom, duble bed + bed for 1 person</td></tr>
											<tr><td>Living-room – couch for 2 persons</td></tr>
											<tr><td>Kitchen + dining-room (cooker, fridge, coffee maker)</td></tr>
											<tr><td>Bathroom</td></tr>
											<tr><td>Sea view terrace</td></tr>
											<tr><td>SAT-TV</td></tr>
											<tr><td>Iron, hair-drier</td></tr>
											<tr><td>Towels, toailet paper, soap</td></tr>
											<tr><td>Cleaning the apartment every day by arrangement</td></tr>
										</table>

										
										
									</div>
								</div>
								<div class="col-md-8">
									<!-- SLIDER -->
									<div id="slider" class="flexslider">
									 	<ul class="slides">										 		
										    <li>
										      <img src="./photos/balkon-gore-02.jpg" />
										    </li>
										    <li>
									      	  <img src="./photos/balkon-gore-03.jpg" />
									    	</li>
										    <li>
										      <img src="./photos/dnevni-balkon-01.jpg" />
										    </li>
										    <li>
										      <img src="./photos/dnevni-balkon-02.jpg" />
										    </li>
										    <li>
										      <img src="./photos/dnevni-balkon-03.jpg" />
										    </li>
										    <!-- items mirrored twice, total of 12 -->
										    <li>
										      <img src="./photos/dnevni-balkon-04.jpg" />
										    </li>
										    <li>
										      <img src="./photos/dnevni-balkon-05.jpg" />
										    </li>
										    <li>
										      <img src="./photos/a2-1.jpg" />
										    </li>
										    <li>
										      <img src="./photos/a2-2.jpg" />
										    </li>
										    <li>
										      <img src="./photos/a2-3.jpg" />
										    </li>
										    <li>
										      <img src="./photos/a2-4.jpg" />
										    </li>
										    <li>
										      <img src="./photos/a2-5.jpg" />
										    </li>
										    <li>
										      <img src="./photos/a2-6.jpg" />
										    </li>
									    </ul>
									</div>

									<div id="carousel" class="flexslider">
									  <ul class="slides">
									  	<li>
									      <img src="./photos/balkon-gore-02.jpg" />
									    </li>
									    <li>
									      <img src="./photos/balkon-gore-03.jpg" />
									    </li>
									    <li>
									      <img src="./photos/dnevni-balkon-01.jpg" />
									    </li>
									    <li>
									      <img src="./photos/dnevni-balkon-02.jpg" />
									    </li>
									    <li>
									      <img src="./photos/dnevni-balkon-03.jpg" />
									    </li>
										<li>
										    <img src="./photos/dnevni-balkon-04.jpg" />
										</li>
										<li>
										    <img src="./photos/dnevni-balkon-05.jpg" />
										</li>
										<li>
										    <img src="./photos/a2-1.jpg" />
										</li>
										<li>
										    <img src="./photos/a2-2.jpg" />
										</li>
										<li>
										    <img src="./photos/a2-3.jpg" />
										</li>
										<li>
										    <img src="./photos/a2-4.jpg" />
										</li>
										<li>
										    <img src="./photos/a2-5.jpg" />
										</li>
										<li>
										    <img src="./photos/a2-6.jpg" />
										</li>										   	
									    <!-- items mirrored twice, total of 12 -->
									  </ul>
									</div>

									<!-- PRICES TABLE -->
									<div id="prices">
										<h4>Prices</h4>
										<hr>
										<table class="table">
											<thead>
												<tr>
													<th>01.09.-15.10</th>
													<th>16.10.-30.03</th>
													<th>01.04.-30.06</th>
													<th>01.07-31.08</th>
												</tr>
											</thead>												
											<tr>
												<td>75,00€</td>
												<td>80,00€</td>
												<td>70,00€</td>
												<td>89,00€</td>
											</tr>
										</table>											
									</div>								
								</div>
							</div>
						</div>
					</div>					
				</div>																
