<div class="accommodationContent">						
					<div class="accommodationBody container">
						<div class="apartment">


							<div class="apartmentBody row">
								<div class="col-md-4">
									<div class="apartmentLeft">
										<h2>Apartment A3</h2>
										<h4>
											<span><strong>21 m²</strong></span>
											<span><strong>2 persons</strong> (+ 1 by arrangement)</span>
										</h4>
									
										<p>Beautiful view off the apartment window may inspire You on beach walks, night swimming or a bicycle ride.You will have most pleasant stay, here in our apartment and the kind hosts will be at Your service.</p>
										<table class="table">
											<thead><tr><th>Details</th></tr></thead>
											<tr><td>Central heating system, air-conditioner</td></tr>
											<tr><td>Room with bathroom, sea view</td></tr>
											<tr><td>Double bed + bed for 1 person</td></tr>
											<tr><td>SAT-TV</td></tr>
											<tr><td>Fridge, hair-drier</td></tr>
											<tr><td>Iron by arrangement</td></tr>
											<tr><td>Towels, toailet paper, soap</td></tr>
											<tr><td>Cleaning the apartment every day by arrangement</td></tr>
										</table>

										
										
									</div>
								</div>
								<div class="col-md-8">
									<!-- SLIDER -->
									<div id="slider" class="flexslider">
									 	<ul class="slides">										 		
										    <li>
										      <img src="./photos/a3-2.jpg" />
										    </li>
										    <li>
									      	  <img src="./photos/a3-3.jpg" />
									    	</li>
										    <li>
										      <img src="./photos/a3-4.jpg" />
										    </li>
										    <li>
										      <img src="./photos/a3-5.jpg" />
										    </li>										    
									    </ul>
									</div>

									<div id="carousel" class="flexslider">
									  <ul class="slides">
									  	<li>
									      <img src="./photos/a3-2.jpg" />
									    </li>
									    <li>
									      <img src="./photos/a3-3.jpg" />
									    </li>
									    <li>
									      <img src="./photos/a3-4.jpg" />
									    </li>
									    <li>
									      <img src="./photos/a3-5.jpg" />
									    </li>									    
									  </ul>
									</div>

									<!-- PRICES TABLE -->
									<div id="prices">
										<h4>Prices</h4>
										<hr>
										<table class="table">
											<thead>
												<tr>
													<th>01.09.-15.10</th>
													<th>16.10.-30.03</th>
													<th>01.04.-30.06</th>
													<th>01.07-31.08</th>
												</tr>
											</thead>												
											<tr>
												<td>50,00€</td>
												<td>50,00€</td>
												<td>55,00€</td>
												<td>65,00€</td>
											</tr>
										</table>											
									</div>								
								</div>
							</div>
						</div>
					</div>					
				</div>	