<div class="accommodationContent">						
					<div class="accommodationBody container">
						<div class="apartment">


							<div class="apartmentBody row">
								<div class="col-md-4">
									<div class="apartmentLeft">
										<h2>Apartment A1 - ground floor</h2>
										<h4>
											<span><strong>114 m²</strong></span>
											<span><strong>5 persons</strong> (+ 1-2 by arrangement)</span>
										</h4>
									
										<p>Interesting choice for your friends or a family or two. Enjoy in commodious, modern equipped apartment with air conditioner in the ground floor, surruonded with garden full of flowers and mediterranean herbs.</p>
										<table class="table">
											<thead><tr><th>Details</th></tr></thead>
											<tr><td>Central heating system, air-conditioner</td></tr>
											<tr><td>3 bedrooms</td></tr>
											<tr><td>Living-room (1-2 persons, secondary bed)</td></tr>
											<tr><td>Kitchen with dining-room (washing-machine, cooker, fridge, freezer, coffee maker, microwave, iron, hair-dryer, related cutlery 5+2)</td></tr>
											<tr><td>Bath + wc, bide</td></tr>
											<tr><td>Bathroom, parking space, garden</td></tr>
											<tr><td>Sea-view balcony, SAT-TV</td></tr>
											<tr><td>Towels, toailet paper, soap</td></tr>
											<tr><td>Cleaning the apartment every day by arrangement</td></tr>
										</table>

										
										
									</div>
								</div>
								<div class="col-md-8">
									<!-- SLIDER -->
									<div id="slider" class="flexslider" flexslider>
									 	<ul class="slides">										 		
										    <li>
										      <img src="./photos/a1-11.jpg" />
										    </li>
										    <li>
									      	  <img src="./photos/a1-10.jpg" />
									    	</li>
										    <li>
										      <img src="./photos/a1-12.jpg" />
										    </li>
										    <li>
										      <img src="./photos/a1-13.jpg" />
										    </li>
										    <li>
										      <img src="./photos/a1-14.jpg" />
										    </li>
										    <!-- items mirrored twice, total of 12 -->
										    <li>
										      <img src="./photos/a1-15.jpg" />
										    </li>
										    <li>
										      <img src="./photos/a1-1.jpg" />
										    </li>
										    <li>
										      <img src="./photos/a1-2.jpg" />
										    </li>
										    <li>
										      <img src="./photos/a1-3.jpg" />
										    </li>
										    <li>
										      <img src="./photos/a1-4.jpg" />
										    </li>
										    <li>
										      <img src="./photos/a1-5.jpg" />
										    </li>
										    <li>
										      <img src="./photos/a1-6.jpg" />
										    </li>
										    <li>
										      <img src="./photos/a1-8.jpg" />
										    </li>
										    <li>
										      <img src="./photos/a1-9.jpg" />
										    </li>
									    </ul>
									</div>

									<div id="carousel" class="flexslider" carousel>
									  <ul class="slides">
									  	<li>
									      <img src="./photos/a1-11.jpg" />
									    </li>
									    <li>
									      <img src="./photos/a1-10.jpg" />
									    </li>
									    <li>
									      <img src="./photos/a1-12.jpg" />
									    </li>
									    <li>
									      <img src="./photos/a1-13.jpg" />
									    </li>
									    <li>
									      <img src="./photos/a1-14.jpg" />
									    </li>
										<li>
										    <img src="./photos/a1-15.jpg" />
										</li>
										<li>
										    <img src="./photos/a1-1.jpg" />
										</li>
										<li>
										    <img src="./photos/a1-2.jpg" />
										</li>
										<li>
										    <img src="./photos/a1-3.jpg" />
										</li>
										<li>
										    <img src="./photos/a1-4.jpg" />
										</li>
										<li>
										    <img src="./photos/a1-5.jpg" />
										</li>
										<li>
										    <img src="./photos/a1-6.jpg" />
										</li>
										<li>
										    <img src="./photos/a1-8.jpg" />
										</li>								
										<li>
										    <img src="./photos/a1-9.jpg" />
										</li>		   	
									    <!-- items mirrored twice, total of 12 -->
									  </ul>
									</div>

									<!-- PRICES TABLE -->
									<div id="prices">
										<h4>Prices</h4>
										<hr>
										<table class="table">
											<thead>
												<tr>
													<th>01.09.-15.10</th>
													<th>16.10.-30.03</th>
													<th>01.04.-30.06</th>
													<th>01.07-31.08</th>
												</tr>
											</thead>												
											<tr>
												<td>98,00€</td>
												<td>89,00€</td>
												<td>98,00€</td>
												<td>119,00€</td>
											</tr>
										</table>											
									</div>								
								</div>
							</div>
						</div>
					</div>					
				</div>								